@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white font-mono antialiased;
  }
}